<!-- <div class="flex_container">
  <p-tabView orientation="top" [activeIndex]="selectedTab"
    (onChange)="handleChange($event)" class="tabview">
    <p-tabPanel header="Edit CV" leftIcon="pi pi-user-edit"
      [selected]="selectedTab===0">
      <app-form class="form" (mycv)="onLoadCv($event)"></app-form>
    </p-tabPanel>
    <p-tabPanel header="CV Preview" leftIcon="pi pi-search-plus"
      [selected]="selectedTab===1">
      <app-resume [cv]="cv"></app-resume>
    </p-tabPanel>
  </p-tabView>
</div> -->
<div class="flex_container">
  <div class="nav-cv">
    <button pButton label="{{form?'Hide Edit Form':'Show Edit Form'}}"
      (click)="drawer.toggle(); form = !form;"></button>
    <button pButton label="Export to PDF"
      (click)="drawer.close(); onPdfConvert()"
      class="ui-button-success"></button>
  </div>
  <mat-drawer-container class="resume-container">
    <mat-drawer #drawer mode="side">
      <app-form class="form" (mycv)="onLoadCv($event)"></app-form>
    </mat-drawer>
    <app-resume [cv]="cv" #resume></app-resume>
  </mat-drawer-container>
</div>
